.header {
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  padding-top: 20px;
}
.navButtons {
  font-size: 14px;
} 
.directories {
  font-family: Lato;
  font-size: 14px;
  color: #939699;
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
}
.directories li {
  display: inline-block;
  padding: 20px;
}
.newCollection {
  width: 400px;
  height: 200px;
}
.theNewCollection {
  font-family: Baskerville;
  font-size: 30px;
}
.featuredCollection {
  font-family: Baskerville;
  font-size: 30px;
}
.footer {
  font-family: Baskerville;
  background-color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;