.header {
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  padding-top: 20px;
  border-bottom: 4px;
  border-color: grey;
}
.directories {
  font-family: Lato;
  font-size: 14px;
  color: #939699;
  list-style-type: none;
  text-align: center; 
}
.directories li {
  font-size: 14px;
  display: inline-block;
  margin: 2rem;
}
.newCollection {
  width: 400px;
  height: 200px;
}
.theNewCollection {
  font-family: Baskerville;
  font-size: 30px;
}
.featuredCollection {
  font-family: Baskerville;
  font-size: 30px;
}
.footer {
  font-family: Baskerville;
  background-color: black;
}
.iconDirectories li {
  font-size: 14px;
  padding: 20 20 20 20px;
  float: right;
  margin: 1rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;